# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependency directories
node_modules/

# IDE related
.idea

# Test coverage
coverage
*.lcov

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# build output
dist
.vercel

# OS-specific
.DS_Store

tmp